Temp/UnityTempFile-fe428142de977aa4b99c7fce1a9e1f37
Temp/UnityTempFile-ce789b7d92e95e241a6a31b4eb5e6b70
Temp/UnityTempFile-c4f51f94f692632469f0aa87a174869e
Temp/UnityTempFile-7b70b934711543245acc35032d2b10a7
Temp/UnityTempFile-738afe7bc70951f479ddd88576627a3f
Temp/UnityTempFile-30921328d8fde504ab7b7724a889aa65
Temp/UnityTempFile-2ebbffedc1783534db4a49a9d7baa582
Temp/UnityTempFile-22b9bac6af7fe374288541e438bbd362
Temp/UnityTempFile-1b79e96964f5a03468a1fa8bad976037
Temp/UnityTempFile-1832580c1bc95f34680000f3a988afe0
Temp/UnityTempFile-0de7f17bf9838c14f8e0977a9e812a5f
Temp/UnityTempFile-0bbdc59c3e1aff54e8400a2f53494de8
Temp/UnityTempFile-0648f2dc1c095e34ab8bcb0000f7cf10
Temp/UnityLockfile
Temp/ProcessJobs/ab30c7bcae888f8a20ac9ec5bfbfa3a6.bakert
Temp/UnityTempFile-b31b15401429b434b860b108a3932016
Temp/UnityTempFile-a19b90aae3f60ce4288d5abbb476cb5d
Temp/UnityTempFile-9a82227c29e762c4d93bc07453cca8f7
Temp/UnityTempFile-959395efdfc01174c863563e11435c2e
Temp/UnityTempFile-949ea11fc0ef46e46a384586280d6778
Temp/UnityTempFile-8f203a31eab1e214eb4c8781604cfb3c
Temp/UnityTempFile-8e23ce5980d603b438df5adbb470c2f6
Temp/UnityTempFile-8a42957892c276d489f57e443f8b0538
Temp/UnityTempFile-7ea03b6cc85c2784586176f3eb77e509
Library/ScriptAssemblies/UnityEngine.UI.pdb
Library/ScriptAssemblies/UnityEngine.TestRunner.pdb
Library/ScriptAssemblies/UnityEditor.UI.pdb
Library/ScriptAssemblies/UnityEditor.TestRunner.pdb
Library/ScriptAssemblies/Unity.VSCode.Editor.pdb
Library/ScriptAssemblies/Unity.Timeline.pdb
Library/ScriptAssemblies/Unity.Timeline.Editor.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.pdb
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.pdb
Library/ScriptAssemblies/Unity.Rider.Editor.pdb
Library/ScriptAssemblies/Unity.CollabProxy.Editor.pdb
Library/PackageCache/com.unity.ide.vscode@1.1.0/package.json.meta
Library/PackageCache/com.unity.ide.vscode@1.1.0/package.json
Library/PackageCache/com.unity.ide.vscode@1.1.0/LICENSE.md.meta
Library/PackageCache/com.unity.ide.vscode@1.1.0/LICENSE.md
Library/PackageCache/com.unity.ide.vscode@1.1.0/Editor/VSCodeScriptEditor.cs.meta
Library/PackageCache/com.unity.ide.rider@1.1.0/CONTRIBUTING.md
Library/PackageCache/com.unity.ide.rider@1.1.0/CHANGELOG.md.meta
Library/PackageCache/com.unity.ide.rider@1.1.0/CHANGELOG.md
Library/PackageCache/com.unity.ide.rider@1.1.0/.editorconfig
Library/EditorInstance.json
Library/PackageCache/com.unity.ide.rider@1.1.0/package.json
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/com.unity.ide.rider.asmdef.meta
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/com.unity.ide.rider.asmdef
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/Util/UnityUtils.cs.meta
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/Util/UnityUtils.cs
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/Util/LibcNativeInterop.cs.meta
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/Util/LibcNativeInterop.cs
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/Util/FileSystemUtil.cs.meta
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/Util/FileSystemUtil.cs
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/Util.meta
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/RiderScriptEditorData.cs.meta
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/RiderScriptEditorData.cs
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/RiderScriptEditor.cs.meta
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/RiderScriptEditor.cs
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/RiderInitializer.cs.meta
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/RiderInitializer.cs
Library/metadata/f0/f079e3afd077fb94fa2bda74d6409499.info
Library/metadata/f0/f079e3afd077fb94fa2bda74d6409499
Library/metadata/bd/bdbd564a9fdad0b738e76d030cad1204.info
Library/metadata/bd/bdbd564a9fdad0b738e76d030cad1204
Library/PackageCache/com.unity.ide.vscode@1.1.0/Editor/VSCodeScriptEditor.cs
Library/PackageCache/com.unity.ide.vscode@1.1.0/Editor/VSCodeDiscovery.cs.meta
Library/PackageCache/com.unity.ide.vscode@1.1.0/Editor/VSCodeDiscovery.cs
Library/PackageCache/com.unity.ide.vscode@1.1.0/Editor/Utility.cs.meta
Library/PackageCache/com.unity.ide.vscode@1.1.0/Editor/Utility.cs
Library/PackageCache/com.unity.ide.vscode@1.1.0/Editor/Unity.com.unity.vscode.Editor.asmdef.meta
Library/PackageCache/com.unity.ide.vscode@1.1.0/Editor/Unity.com.unity.vscode.Editor.asmdef
Library/PackageCache/com.unity.ide.vscode@1.1.0/Editor/ProjectGeneration.cs.meta
Library/PackageCache/com.unity.ide.vscode@1.1.0/Editor/ProjectGeneration.cs
Library/PackageCache/com.unity.ide.vscode@1.1.0/Editor.meta
Library/PackageCache/com.unity.ide.vscode@1.1.0/Documentation~/README.md
Library/PackageCache/com.unity.ide.vscode@1.1.0/CONTRIBUTING.md.meta
Library/PackageCache/com.unity.ide.vscode@1.1.0/CONTRIBUTING.md
Library/PackageCache/com.unity.ide.vscode@1.1.0/CHANGELOG.md.meta
Library/PackageCache/com.unity.ide.vscode@1.1.0/CHANGELOG.md
Library/PackageCache/com.unity.ide.rider@1.1.0/package.json.meta
Library/metadata/5e/5e726086cd652f82087d59d67d2c24cd.info
Library/metadata/5e/5e726086cd652f82087d59d67d2c24cd
Library/metadata/3e/3ec9edad2de6c4df3a146b543a0fbc4c.info
Library/metadata/3e/3ec9edad2de6c4df3a146b543a0fbc4c
Library/metadata/07/071c17858dc6c47ada7b2a1f1ded5402.info
Library/metadata/07/071c17858dc6c47ada7b2a1f1ded5402
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/ProjectGeneration.cs.meta
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/ProjectGeneration.cs
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/PluginSettings.cs.meta
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/PluginSettings.cs
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/LoggingLevel.cs.meta
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/LoggingLevel.cs
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/EditorPluginInterop.cs.meta
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/EditorPluginInterop.cs
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/Discovery.cs.meta
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor/Discovery.cs
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider/Editor.meta
Library/PackageCache/com.unity.ide.rider@1.1.0/Rider.meta
Library/PackageCache/com.unity.ide.rider@1.1.0/LICENSE.md.meta
Library/PackageCache/com.unity.ide.rider@1.1.0/LICENSE.md
Library/PackageCache/com.unity.ide.rider@1.1.0/Documentation~/README.md
Library/PackageCache/com.unity.ide.rider@1.1.0/CONTRIBUTING.md.meta
